<!DOCTYPE html>
<html>
<%- include('partials/header') -%>
<link rel="stylesheet" href="/stylesheets/displaylisting.css"/>
<script type="text/javascript" src="/scripts/utils.js"></script>
<script type="text/javascript" src="/scripts/displaylisting.js"></script>
<script>
	
</script>
<%- include('partials/navbar') -%>
<body>
	<div id="post_info">
		<div id="info_text_box">
			<div id="info_container"> 
				<h1><%= data.title %></h1> 
				<table> 
					<tr><td class="tb_col1">Report Date: </td><td class="tb_col2"><%= data.post_date_string %></td></tr> 
					<tr><td class="tb_col1">Address: </td> <td class="tb_col2"><%= data.address %></td></tr>
					<tr><td class="tb_col1">Submitted By: </td><td class="tb_col2"><%= data.username %></td></tr>
					<tr><td class="tb_col1">Current Status: </td><td class="tb_col2"><%= data.status_string %></td></tr> 
					<tr><td class="tb_col1">Category: </td><td class="tb_col2"><%= data.category_string %></td></tr>  
				</table> 
				<h1>Description</h1>
				<p id="description_paragraph"><%= data.description %></p>
			</div> 
		</div>
		<div style="float: right; width: 50%;">
			<div  style="width: 480px; height: 480px; margin-left: auto; margin-right: 0; display: block;">
				<img src="<%= data.picture %>" style="width: 480px; height: 480px; margin-left: auto; margin-right: auto; display: block;">
				<h4 style="margin-top: 10px; text-align: center">Photograph: <%= data.title %></h4>
			</div>
		</div>	
	</div>
	<div style="width: 80%; margin-left: auto; margin-right: auto; display: block; margin-bottom: 80px;">
		<h1>Location on Map</h1>
		<iframe id="mapiframe" 
		width="100%"
		height="700px"
		frameborder="1" style="border:1"
		src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDg-AaiQ6fJN0KvJvmT9lfCwJ7qPBFIUS4&q=<%= data.latitude %>,<%= data.longitude %>&zoom=12"></iframe>
	</div>
</body>
</html>